# Canonical URL redirect
server {
        server_name SITEADDRESS;
        rewrite ^(.*) http://www.SITEADDRESS$1 permanent;
}

server {
        listen 80;
        server_name www.SITEADDRESS ~^SITENAME\..+\.ROOTDOMAIN;
        root /var/www/SITEFOLDER;
        index index.html index.php;

        # Place log files in site-specific subfolder
        access_log /var/log/nginx/SITEFOLDER/access.log combined;
        error_log /var/log/nginx/SITEFOLDER/error.log warn;

		# First attempt to serve request as file, then as directory, then fall back to default controller
        location / {
                try_files $uri $uri/ @frontcontroller;
        }

        # Default route
        location @frontcontroller {
                rewrite ^ /index.php last;
        }

        # Performance tweak for Drupal image styles
        location ~ ^/sites/.*/files/styles/ {
                expires 2w;
                try_files $uri @frontcontroller;
        }

        # Pass PHP scripts to FastCGI server
        location ~ \.php$ {
                fastcgi_split_path_info ^(.+\.php)(/.+)$;
                fastcgi_pass php_connection;
                fastcgi_index index.php;
                include fastcgi_params;
        }

        # Some basic cache-control for static files to be sent to the browser
        location ~* \.(?:ico|css|js|gif|jpe?g|png|bmp|pdf|docx?|xlsx?|pptx?|swf|flv|mp[34]|og[mvg]|m4[av]|mpe?g|avi|aac|m3u|pls|rtf|csv)(?:\?.*)?$ {
                expires max;
                add_header Pragma public;
                log_not_found off;
                add_header Cache-Control "public, must-revalidate, proxy-revalidate";
        }

        # Suppress favicon-related log entries
        location ~* favicon\.ico {
                access_log off;
                log_not_found off;
        }

        # Prevents hidden files (beginning with a period) from being served
        location ~ /\. {
                access_log off;
                log_not_found off;
                deny all;
        }
}
